.box{
  position: relative;
  .lll{
    width: 100px;
    height: 30px;
    background-color: #ccc;
    margin-right: 300px;
  }
  .ttt{
    display: none;
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    top: 0px;
    left: 200px;
  }
}