.wrap button {
  width: 50px;
  height: 20px;
  background-color: red;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.wrap button.bb {
  background-color: aqua;
}

.wrap button.cc {
  background-color: darkblue;
}
