ul .lll {
  width: 100px;
  height: 30px;
  background-color: #ccc;
  display: block;
}

ul .ttt {
  width: 100px;
  height: 105px;
  background-color: #ccc;
  display: none;
}

ul .ttt span {
  display: block;
  height: 30px;
  margin-top: 5px;
}
